#register, #login {
    width: 425px;
}
#register input, #login input {
    width: 350px;
}
input#date-of-birth {
    width: 220px;
}
.auth-form fieldset div, .auth-form fieldset p {
    text-align: left;
    margin: 0 auto;
    width: 350px;
}
.auth-form button {
    float: right;
    margin: 20px 0 0;
}