* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  color: white;
}
.main-content {
  width: 100%;
  min-height: calc(100vh - 25px);
  background-color: #24b68e;
}
.main-content div {
  padding: 10px;
}
nav {
  font-size: 1.5em;
  position: relative;
  padding: 18px;  
  width: 100%;
  background-color: #b8eac8;
}
nav img {
  position: absolute;
  right: 20px;
  top: 6px;
}
h1 {
  display: inline-block;
  color: #24b68e;
  font-family: 'Contrail One', cursive;
}
h2 {
  color: #efdb94;
  font-family: 'Contrail One', cursive;
}
h3 {
  color: #b8eac8;
  margin: 20px 0 0 0;
  font-family: 'Contrail One', cursive;
}
p {
  margin: 0 0 5px;
}
li {
  list-style-type: none;
  margin: 5px;
}
a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}
table, th, td, tr {
  border: 1px solid #D3D3D3;
  border-collapse: collapse;
  padding: 2px 4px;
  margin: 5px 0 0;
}
input {
  width: 450px;
  height: 35px;
  margin: 0 0 10px;
  padding: 3px;
  font-size: 1em;
  border: 1px solid grey;
  border-radius: 5px;
  color: black;
}
input[type="date"] {
  width: 220px;
}
button {
  padding: 7px;
  margin: 10px 0 0;
  border-radius: 5px;
  font-size: .9em;
  display: block;
  color: black;
}
button.add-button {
  margin: 0 0 0 8px;
  display: inline-block;
}
button:hover {
  background-color: #68e2a3;
  cursor: pointer;
  color: black;
} 
.active-league h3 {
  margin: 20px 0 0 0;
}
.players-in-round li:hover {
  color: grey;
}
.player-settings-list:hover {
  color: #e27c68;
  cursor: pointer;
}
li.player-added-list, .player-settings-list {
  background-color: #D3D3D3;
  padding: 5px;
  border-radius: 3px; 
}
li.player-added-list:hover {
  cursor: pointer;
  background-color: #68e2a3;
}
.activePlayer {
  background-color: #68e2a3;
}
.info-card:hover {
  border-color: #68e2a3;
  background-color: #68e2a3;
}
footer {
  height: 40px;
  padding: 10px;
  text-align: center;
  background-color: #b8eac8;
}
footer p {
  margin: 0;
  color: #24b68e;
}
input:disabled,
button:disabled {
  background-color: #eee;
  color: #D3D3D3;
  border: 1px solid #e8ebef;
  cursor: not-allowed;
}


